# Function
### print ชื่อ XXX สกุล YYY รหัส ZZZ
### print เกรด วิชา Stat 1 >>>AAA

In [2]:
a = f'ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021885-3'
print(a)

ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส 603021885-3

In [6]:
name = 'ลั่นฟ้า'
surname = 'บุญรอด'
ID ='603021885-3'
b = f'ชื่อ {name} นามสกุล {surname} รหัส{ID}'
print(b)

ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส603021885-3

### function template
```python
def fucntion_name(input):
    dosomething
    return output
```

In [8]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส{ID}'
    return st

In [15]:
print(print_line1('ลั่นฟ้า','บุญรอด','603021885-3'))

ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส603021885-3

In [16]:
def print_2line(name1,surname1,ID1,grade):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส{ID}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [19]:
print_2line('ลั่นฟ้า','บุญรอด','603021885-3','B+')

ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส603021885-3
เกรดวิชา stat1 >>> B+

In [29]:
def print_3line(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส{ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [30]:
print_3line('ลั่นฟ้า','บุญรอด','603021885-3','A')
print_3line('กฤตยา','สังข์ไทย','603021853-6','A')
print_3line('ณัฐฤทธิ์','เศวตวรานนท์','603021863-3','A')

ชื่อ ลั่นฟ้า นามสกุล บุญรอด รหัส603021885-3
เกรดวิชา stat1 >>> A
ชื่อ กฤตยา นามสกุล สังข์ไทย รหัส603021853-6
เกรดวิชา stat1 >>> A
ชื่อ ณัฐฤทธิ์ นามสกุล เศวตวรานนท์ รหัส603021863-3
เกรดวิชา stat1 >>> A

## function without input

In [32]:
def two_x_three():
    x = 2*3
    return x

In [34]:
two_x_three()

6

### function with default argument

In [40]:
def print_2line_default(name1,surname1,ID1,grade='F'):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส{ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [41]:
print_2line_default('ju','manji','12345678-9')

ชื่อ ju นามสกุล manji รหัส12345678-9
เกรดวิชา stat1 >>> F

In [39]:
print_2line_default('ju','manji','12345678-9','B')

ชื่อ ju นามสกุล manji รหัส12345678-9
เกรดวิชา stat1 >>> B

### Loop (วนซ้ำ)

```python
for each_member in listA:
    do something
```

In [43]:
for i in [1,2,3]:
    print (i)

1
2
3

In [45]:
for i in 'Lanfha':
    print (f'{i}-> /')
    print (' ')

L-> /

a-> /

n-> /

f-> /

h-> /

a-> /

## 1 สร้าง list ชื่อเพื่อนที่อยู่ในแถวยาวเดียวกัน
## 1.5 สร้าง function print ปริ้นประโยคว่า xxxเรา yyyความรู้สึก zzzทุกคนในแถวยาว
## 2 วนloop เรียก function โดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

In [54]:
for i in ['แตงโม','บูม','เจมส์','ดายน์','ฝน','แคมป์']:
    print (f'เจ็ท รัก {i}')

เจ็ท รัก แตงโม
เจ็ท รัก บูม
เจ็ท รัก เจมส์
เจ็ท รัก ดายน์
เจ็ท รัก ฝน
เจ็ท รัก แคมป์

In [56]:
def print_line_friend(name1,react,Fname):
    st = f'{name1} {react} {Fname}'
    print(st)

In [57]:
print_line_friend('เจ็ท','รัก','แตงโม')
print_line_friend('เจ็ท','รัก','บูม')
print_line_friend('เจ็ท','รัก','เจม')
print_line_friend('เจ็ท','รัก','ฝน')
print_line_friend('เจ็ท','รัก','ดายน์')
print_line_friend('เจ็ท','รัก','แคมป์')

เจ็ท รัก แตงโม
เจ็ท รัก บูม
เจ็ท รัก เจม
เจ็ท รัก ฝน
เจ็ท รัก ดายน์
เจ็ท รัก แคมป์

In [58]:
for i in ['แตงโม','บูม','เจมส์','ฝน','ดายน์','แคมป์']:
    print_line_friend('เจ็ท','รัก',i)

เจ็ท รัก แตงโม
เจ็ท รัก บูม
เจ็ท รัก เจมส์
เจ็ท รัก ฝน
เจ็ท รัก ดายน์
เจ็ท รัก แคมป์

### function in loop

In [96]:
friend_list = ['เจ็ทสิก้า','แตงโม','บูม','เจม','ดายน์']

In [97]:
def print_feeling(I,feeling,friend):
    print(f'{I} {feeling} {friend}')

In [98]:
print_feeling('jet','love','A')

jet love A

In [99]:
for f in friend_list:
    print_feeling('jet','love',f)

jet love เจ็ทสิก้า
jet love แตงโม
jet love บูม
jet love เจม
jet love ดายน์

### loop in loop

In [100]:
for name1 in friend_list:
    for name2 in friend_list:
        print_feeling(name1,'รัก',name2)

เจ็ทสิก้า รัก เจ็ทสิก้า
เจ็ทสิก้า รัก แตงโม
เจ็ทสิก้า รัก บูม
เจ็ทสิก้า รัก เจม
เจ็ทสิก้า รัก ดายน์
แตงโม รัก เจ็ทสิก้า
แตงโม รัก แตงโม
แตงโม รัก บูม
แตงโม รัก เจม
แตงโม รัก ดายน์
บูม รัก เจ็ทสิก้า
บูม รัก แตงโม
บูม รัก บูม
บูม รัก เจม
บูม รัก ดายน์
เจม รัก เจ็ทสิก้า
เจม รัก แตงโม
เจม รัก บูม
เจม รัก เจม
เจม รัก ดายน์
ดายน์ รัก เจ็ทสิก้า
ดายน์ รัก แตงโม
ดายน์ รัก บูม
ดายน์ รัก เจม
ดายน์ รัก ดายน์

## loop in function

In [67]:
def print_feelings(I,feeling,friends):
    for friend in friends:
        print(f'{I} {feeling} {friend}')

In [94]:
print_feelings('jet','love', friend_list)

jet love แตงโม
jet love บูม
jet love เจม
jet love ดายน์

## looping in dict

In [70]:
name_grade = {'jab':'A','jub':'B','jib':'C','joy':'F'}
name_grade

{'jab': 'A', 'jub': 'B', 'jib': 'C', 'joy': 'F'}

In [71]:
name_grade['jab']

'A'

In [78]:
name_grade.keys()

dict_keys(['jab', 'jub', 'jib', 'joy'])

In [77]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

jab ได้เกรด A
jub ได้เกรด B
jib ได้เกรด C
joy ได้เกรด F

### Conditional

#### ==(เช็คว่าเท่ากันหรือไม่) ,!=(เช็คว่าตัวข้างหน้าไม่เท่ากันหรือไม่),>=(เช็คว่าข้างหน้ามากกว่าเท่ากับข้างหลังหรือไม่),<=(เช็กว่าตัวข้างหน้าน้อยกว่าข้างหรือหรือไหม),<,>

```python
if condition1:
    do something
elif condition2:
    do another thing
else:
    do ...
```

In [101]:
for name1 in friend_list:
    for name2 in friend_list:
        if name1 != name2:
           print_feeling(name1,'รัก',name2)

เจ็ทสิก้า รัก แตงโม
เจ็ทสิก้า รัก บูม
เจ็ทสิก้า รัก เจม
เจ็ทสิก้า รัก ดายน์
แตงโม รัก เจ็ทสิก้า
แตงโม รัก บูม
แตงโม รัก เจม
แตงโม รัก ดายน์
บูม รัก เจ็ทสิก้า
บูม รัก แตงโม
บูม รัก เจม
บูม รัก ดายน์
เจม รัก เจ็ทสิก้า
เจม รัก แตงโม
เจม รัก บูม
เจม รัก ดายน์
ดายน์ รัก เจ็ทสิก้า
ดายน์ รัก แตงโม
ดายน์ รัก บูม
ดายน์ รัก เจม

In [103]:
if True:
    print('Yes')

Yes

In [105]:
if False:
    print('No')

In [106]:
if False:
    print('Yes')
else:
    print('No')

No

In [109]:
1 == 1

True

In [110]:
if 1==1:
    print('1==1')

1==1

# HW
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) output เป็นเกรด(F-A)

input =[1,50,65,90,101,-5,49]

In [12]:
def grade(score):
    if score < 50:
        print(f'{score} ได้เกรด F')
    elif 50 >= score < 55:
        print(f'{score} ได้เกรด D')
    elif 55 >= score < 60:
        print(f'{score} ได้เกรด D+')
    elif 60 >= score < 65:
        print(f'{score} ได้เกรด C')
    elif 65 >= score < 70:
        print(f'{score} ได้เกรด C+')
    elif 70 >= score < 75:
        print(f'{score} ได้เกรด B') 
    elif 75 >= score < 80:
        print(f'{score} ได้เกรด B+')   
    else:
        print(f'{score} ได้เกรด A')

In [14]:
grade(1)
grade(50)
grade(65)
grade(90)
grade(101)
grade(-5)
grade(49)

1 ได้เกรด F
50 ได้เกรด D
65 ได้เกรด C+
90 ได้เกรด A
101 ได้เกรด A
-5 ได้เกรด F
49 ได้เกรด F